<div class="ocf-selected-card ocf-desktop">
  <div class="ocf-selected-header">{{ text_choosed }}</div>
  {% for filter in selecteds %}   
    <div class="ocf-selected-filter">
      {# <span class="ocf-selected-filter-name">{{ filter.name }}:</span> #}
      
      {% for value in filter.values %}
        <div class="tags-catalog__item">
          <span>{{ value.name }}</span>
          <button type="button" onclick="location = '{{ value.href }}';" class="tags-catalog__remove _icon-cross" title="{{ value.name }}">
        </div>
        </button>
      {% endfor %}
    </div>
  {% endfor %}
  
  <div class="ocf-between">   
    <button type="button" class="ocf-btn ocf-btn-link" onclick="location = '{{ link }}';">{{ button_cancel_all_selected }}</button>
    <button type="button" class="ocf-btn ocf-btn-link" data-ocf="specify">{{ button_specify }}</button>
  </div>
</div>