<section class="product__stoelzle stoelzle">
    <div class="stoelzle__grid-container">
        <div class="stoelzle__wrapper">
            <div class="stoelzle__image">
                <img src="image/{{ image }}" alt="Image" class="ibg">
            </div>
            <div class="stoelzle__body">
                <div class="stoelzle__text text">
                    {{ description }}
                </div>
                <h2 class="stoelzle__title">
                    {{ title }}
                </h2>
                <a href="{{ link }}" class="stoelzle__link button button--border">{{ view_all }}</a>
            </div>
        </div>
    </div>
</section>