<div class="input-group datetimepicker" data-format="{{ values_options.date_format }}" data-pick="{{ values_options.pick }}">
    <div class="input-group-addon btn btn-default">
        <span class="fa fa-clock-o"></span>
    </div>
    <input{{ popover }} id="input-custom-setting-{{ id }}" name="custom_setting{{ name }}" type="text" value="{{ value }}" class="form-control" placeholder="{{ placeholder }}"/>
</div>
{% if error %}
    <div class="text-danger">{{ error }}</div>
{% endif %}
