{% for v in values %}
    <label class="radio-inline">
        <input type="radio" name="custom_setting{{ name }}" value="{{ v.value }}" {{ value == v.value ? ' checked="checked"': '' }}/>
        {{ v.title }}
    </label>
{% endfor %}
{% if error %}
    <div class="text-danger">{{ error }}</div>
{% endif %}
